package pages

import (
	"github.com/GoEnterpricePlatform/goEP-core/web/web-app/ui/layouts"
	// "github.com/GoEnterpricePlatform/goEP-core/web/web-app/resources"
)

templ AdminSignInPage() {
	@layouts.BaseLayout("admin sign in", AdminSignInContent())
}

templ AdminSignInContent() {
	<h1>Admin Sign in page</h1>	
}
	