MONGO_DB_URI=mongodb://<username>:<password>@localhost:27017

JWT_ACCESS_TOKEN=secret-1
JWT_REFRESH_TOKEN=secret-2
JWT_ISS=domain.com

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=appuser
MINIO_SECRET_KEY=appusersecret
MINIO_SECURE=false

APP_NAME=goEP-core

GMAIL_USERNAME=
GMAIL_PASS=

# optional,If you wish to use the assistant, you must obtain the API key.
OPENAI_API_KEY=

# * Only for development — variables for docker-compose.dev and development tools
# * Mongo (docker-compose.dev.yml)
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_PORT=27017

# * Minio (docker-compose.dev.yml) 
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=123456()Secret
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
