package pages

import "github.com/GoEnterpricePlatform/goEP-core/web/web-app/ui/layouts"


templ AboutUsPage() {
	@layouts.Base("about_us", AboutUsContent())
}

templ AboutUsContent() {
	<h1>About us</h1>
}