package pages

import "github.com/GoEnterpricePlatform/goEP-core/web/web-app/ui/layouts"


templ ContactPage() {
	@layouts.Base("contact", ContactContent())
}

templ ContactContent() {
	<h1>Contact</h1>
}