package pages

import "github.com/GoEnterpricePlatform/goEP-core/web/web-app/ui/layouts"


templ LandingPage() {
	@layouts.Base("landing", LandingContent())
}

templ LandingContent() {
	<h1>Landing</h1>
}