package components

templ Footer(year int) {
	<style>
		footer {
			margin-top: 80px;
			padding: 15px 20px;
			background-color: #1f2937;
			color: #9ca3af;
			text-align: center;
		}
	</style>

	<footer>© { year } MyWebsite. All rights reserved.</footer>
}